@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body h1, body h2, body h3 {
    font-family: "Playfair Display", serif;
}

body {
    font-family: "Times New Roman", serif;
}

#qform {
    border-right: 1px solid black;
}

#sched li {
    list-style-type: none;
}